<!DOCTYPE html>
<html>
<head>
  <title>TaskFlow Dashboard</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <h1>TaskFlow Dashboard</h1>
  <p></p>

  <div class="nav">
    <a href="/users-ui">Users</a>
    <a href="/projects-ui">Projects</a>
    <a href="/tasks-ui">Tasks</a>
    <a href="/comments-ui">Comments</a>
  </div>

  <div class="card-container">
    <div class="card">
      <h3>Users</h3>
      <p>Manage system users</p>
      <a href="/users-ui">Go</a>
    </div>

    <div class="card">
      <h3>Projects</h3>
      <p>Create & manage projects</p>
      <a href="/projects-ui">Go</a>
    </div>

    <div class="card">
      <h3>Tasks</h3>
      <p>Track project tasks</p>
      <a href="/tasks-ui">Go</a>
    </div>

    <div class="card">
      <h3>Comments</h3>
      <p>Task discussions</p>
      <a href="/comments-ui">Go</a>

    </div>
  </div>

  

</body>
</html>