<!DOCTYPE html>
<html>
<head>
  <title>Email Verification</title>
<link ref="stylesheet" href="/css/Verification.css"> 

</head>
<body>

<div class="card">

  <h2>Email Verification</h2>

  <p>Click the button below to verify your account.</p>

  <button onclick="verifyEmail()">Verify Account</button>

  <p id="result"></p>

</div>

<script src="/js/Verification.js"></script>


</body>
</html>